/* Basic Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and Main Layout */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}



.cta-button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

#products {
    padding: 40px;
    text-align: center;
}

.product-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.buy-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

main {

    background-color: rgb(181, 181, 181);

    
}

#product-details {

    color: rgb(0, 0, 0);
    padding: 20px;
}
.add-to-cart {
    
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;

}

.size {

    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;

}
.progduct-image {

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;

}